<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Login</title>
</head>
<body>
<h1 th:text="'회원가입'"></h1>
<form method="post" action="re_login">
    ID<br/><input type="text" name="user_id"><br/>
    Password<br/><input type="password" name="user_pass"><br/>
    Name<br/><input type="text" name="user_name"><br/>
    Email<br/><input type="text" name="user_email"><br/>
    Tel<br/><input type="text" name="user_tel"><br/>
    Local<br/><input type="text" name="user_local"><br/>
    <br/>
    <button type="submit">입력완료</button>
</form>

</body>
</html>